body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #0073e6;
    font-size: 36px;
    margin-bottom: 20px;
}

button {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

.question {
    font-size: 24px;
    margin-bottom: 15px;
}

.answer {
    font-size: 20px;
    margin-bottom: 25px;
}

.timer {
    font-size: 20px;
    color: #ff4500;
    margin-top: 20px;
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0073e6;
    border-radius: 5px;
    background-color: #f0f8ff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]:hover {
    background-color: #d0e7ff;
}

input[type="text"] {
    padding: 10px;
    font-size: 18px;
    width: calc(100% - 22px);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-size: 18px;
    margin-right: 10px;
}

#score {
    font-size: 22px;
    color: #0073e6;
    margin-top: 20px;
}

.toggle-label {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s ease;
}

.toggle-label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label::before {
    background-color: #0073e6;
}

.toggle-input:checked + .toggle-label::after {
    transform: translateX(26px);
}
